<div class="row mt-3 mx-3">
  <div class="col-6">
    <a class="btn btn-success" routerLink="/repices/new">New repices</a>
    <hr />
    <ul class="list-group">
      <li
        *ngFor="let repice of repices; let i = index"
        class="list-group-item border rounded d-flex justify-content-between mb-4"
        (click)="handleClick(i)"
        routerLinkActive="active"
      >
        <div>
          <h4>{{ repice.name | uppercase }}</h4>
          <p>{{ repice.desc }}</p>
        </div>
        <img width="200px"  class="img-fluid" alt="" [src]="repice.image">
      </li>
    </ul>
  </div>
  <div class="col-6">
    <router-outlet></router-outlet>
  </div>
</div>
